button{
    
    background-color:lightcoral;
    color:  rgb(59, 56, 56);
    border:solid black 1px;
    padding:5px;
    margin:5px;
    width:100px;
    width:auto;
}

nav{
    margin:5%;

}

img{
    padding:10px;
   
  
    
    
}

#onegif{
    float: left;
    text-align: center;
}

#giphyDiv{
    width: 66%;
}

#rating{
    text-transform: uppercase;
}